.feature{
    &__inner{
        margin-bottom: 19px;
        &-img{}
        &-title{
            display: none;
        }
        &:hover{
            &-title{
                display: block;
            }
        }
    }
}