@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 67px;
}

@media (max-width: 767.98px) {
    .hide-xs {
        display: none !important;
    }
}

section{
    padding: 60px 0;;
}
